[Unit]
Description="Run borgbackup.sh every hour"

[Timer]
# OnBootSec=5min
OnCalendar=*:10
Persistent=true
Unit=borgbackup.service

[Install]
WantedBy=multi-user.target
